/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

.double-line {
	display: flex;
  border-top: 5px double #000;
}

.herobanner-images, .textAndImage-images, .selectedImage{
	width: 100px;
	height: 100px;
	margin: 5px;
}

.msform {
	width: 400px;
	margin: -50px auto;
	border-radius: 10px;
	text-align: center;
    background:#CFE8FC;
}
legend{
	font-weight: 700;
}
.msform input {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	position: relative;
}


/*buttons*/
.msform button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px;
	margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
}
.msform button:hover, .msform button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
label {
	font-size: 20px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}

.error-message {
  color: red;
  font-weight: bold;
}

.success-message {
  color: rgb(2, 22, 2);
  font-weight: bolder;
  font-size:large;

}
