.card-footer {
	background-color: hsl(329.9999999999999,2.4390243902439024%,16.07843137254902%);
	display: flex;
	justify-content: space-between;
	padding: 2vw;
	font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* to make all text white in the footer */
.card-footer * {
	color: white;
}

/* address section */
.footer-address-section-ul {
	display: flex;
	flex-direction: column;
	font-size: 1.2vw;
	font-weight: lighter;

}

/* out work section */

footer-pages-li {
	list-style: none;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	font-size: 1.2vw;
	font-weight: lighter;
	color:red;
	
}

.footer-socialmedia-ul,
.footer-pages-ul li {
	display: flex;
	flex-direction: column;
	text-decoration: underline;
	font-size: 1vw;
	list-style-type: none;
}

.footer-contact-number {
	text-decoration: none;
}

/* our work and follow us section */
.footer-pageAndSocialmedia-section {
	list-style-type: none;
	display: flex;
	gap: 8vw;
}



.footer-pageAndSocialmedia-section a {
	font-family: "Poppins", sans-serif;
	font-weight: lighter;
}

@media screen and (max-width: 768px) {
	.card-footer {
		display: flex;
		flex-direction: column;
		gap: 5vw;
	}

	.footer-pageAndSocialmedia-section {
		display: flex;
		font-size: 3vw;
	}

	.footer-pages,
	.footer-socialmedia {
		line-height: 0.2;
	}

	.footer-address-section {
		font-size: 3vw;
	}

	.footer-socialmedia {
		font-size: 3vw;
	}
}