.image-container {
	display: block;
	margin-bottom: 1rem;
}

.hero-banner-content-overlay {
	position: absolute;
	top: 120%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.hero-banner-content-overlay p {
	position: relative;
	margin-bottom: 1rem;
	color: wheat;
	font-size: 3rem;
}

@media (max-width: 768px) {
	.image-container p {
		font-size: 25;
	}
}

.image-container button {
	display: inline-block;
	padding: 1.2rem 2.004rem;
	background-color: white;
	color: black;
	text-decoration: none;
	margin-top: 20px;
	border-radius: 0px;
}
